* {
   box-sizing: border-box;
}

body {
   background-color: #efe;
   padding: 1em;
}

.hr {
   height: 3em;
}

.br {
   height: 0.2em;
}

.lbr {
   height: 1em;
}

pre {
   margin: 0;
}

code {
   background-color: #eee;
   padding: 0.3em;
   border-radius: 0.5em;
   display: inline-block;
}

.li {
   margin-left: 1em;
}

.li::before {
   content: '\2022';
   margin-right: 0.5em;
}

.part.field, 
.part.param, 
.part.return {
   margin-left: 2em;
}
