body {
   background-color: #efe;
}

.br {
   height: 1em;
}

code {
   background-color: #eee;
   padding: 0.3em;
   border-radius: 0.5em;
}

.li {
   margin-left: 1em;
}

.li::before {
   content: '\2022';
   margin-right: 0.5em;
}
